<!DOCTYPE html>
<html lang="en">
<head><meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="login.css">
</head>
<body class="container">
<h2>To-Do-List login</h2>

<form action="/login" method="post">
  <div class="imgcontainer">
    <img src="images/gammalogo.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>
        
    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
    <div class="flash-message">
      <% if (errorMessage) { %>
        <div class="alert alert-danger">
          <%= errorMessage %>
        </div>
      <% } %>
    </div>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="registerbtn" id="registerBtn">Register</button>
    <button type="button" class="cancelbtn">Cancel</button>
  </div>
</form>
<script src="login.js"></script>
</body>
</html>