@media screen and (max-width: 600px) {
  .filter-and-task {
    flex-direction: column;
  }

  .task-actions {
    margin-left: 0;
  }
}


body {
  font-family: Arial, sans-serif;
  /* Add the background image */
  background-image:url('images/To-Do-List.jpg');
  /* Adjust the background image properties as needed */
  background-size: auto;
  backdrop-filter: blur(1.5px);
  background-position: center;
  background-repeat: repeat;
}
  
  .container {
    max-width: 500px;
    min-width: auto;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  h1 {
    background-color: #fcead9;
    text-align: center;
  }
  .background{
    
  }
  #addButton {
    background-color: #4CAF50;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #addButton:hover {
    background-color: #45a049;
  }
  
  /* Align the filter and task input bar in the same row */
  .filter-and-task {
    display: flex;
    align-items: center;
  }
  
  /* Add some margin between the filter and the task input */
  .filter {
    margin-right: 10px;
  }
  
  .filter label {
    margin-right: 5px;
  }
  
  #taskInput {
    flex: 1; /* Take remaining width */
    padding: 10px;
  }
  
  #taskList {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .task {
    display: flex;
    align-items: center;
    padding: 10px;
    padding-right: 40px;
    border: 1px solid #ccc;
    border-radius: 8px;
    word-break: break-all;
    overflow-wrap: break-word;
  }
  
  .task-actions button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 6px 12px;
    font-size: 14px;
    margin-left: 2px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .task-actions button:hover {
    background-color: #45a049;
  }
  
  /* Align the "Complete" and "Delete" buttons in the same row */
  .task-actions {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .task-actions button.delete {
    background-color: #f44336;
    color: white;
  }
  .completed-task span {
    text-decoration: line-through;
    color: #000000;
  }

  .new-task {
    background-color: whitesmoke; /* Red */
  }
  .completed-task {
    background-color: #6cfc84; /* Green */
  }
  .edited-task {
    background-color: #edff89; /* Orange */
  }
  .task-actions .edit {
    background-color: #007bff;
  }
  
  .task-actions .edit:hover {
    background-color: #0056b3;
  }
  
  